*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}

section{
    height: 100vh;
    display: flex;
    justify-content:center;
    justify-content: space-between;
    align-items:center;
}

#container{
    display: flex; 
    flex-direction: row-reverse;
    width: 50%;
    margin: auto;
    height: 20rem;
    
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

p{
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 1.2rem;
    margin: auto;
}

img{
    padding: 2rem;
}

